[submodule "R/ad-hoc/coursera/4-exploratory-data-analysis/w1/assignment/ExData_Plotting1"]
	path = R/ad-hoc/coursera/4-exploratory-data-analysis/w1/assignment/ExData_Plotting1
	url = https://github.com/rdpeng/ExData_Plotting1
